{% extends "flask_user_layout.html" %}
{% block content %}
{% include 'menu.html' %}
<div>
	<h1>Detail User</h1>
	<p>User Name 	: {{user.username}} <br>
		First Name 	: {{user.first_name}} <br>
		Last Name 	: {{user.last_name}}
	</p>
	
</div>
{% endblock %}