<h2>Members page</h2>
<p><a href={{ url_for('user.register') }}>Register</a></p>
<p><a href={{ url_for('user.login') }}>Sign in</a></p>
<p><a href={{ url_for('home') }}>Home page</a> (Bisa Diakses Public)</p>
<p><a href={{ url_for('user') }}>Data User</a> (Butuh Login)</p>
<p><a href={{ url_for('user.logout') }}>Sign out</a></p>