{% extends "flask_user_layout.html" %}
{% block content %}
{% include 'menu.html' %}
<div>
	<h1>Halaman sesudah login</h1>
	<table border="1">
		<tr>
			<td>Username</td>
			<td>First Name</td>
			<td>Lastname</td>
			<td>Action</td>
		</tr>
		{% for user in users %}
		<tr>
			<td>{{user.username}}</td>
			<td>{{user.first_name}}</td>
			<td>{{user.last_name}}</td>
			<td><a href="{{url_for('user_detail',user_id=user.danger)}}">Detail</a></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}